<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar.ejs') %><br>
    <h1><%= donatur.saldo %> </h1>
    <table border>
        <% for(let i in org) { %> 
        <tr>
            <td> <%= org[i].nama_yayasan %> </td>
            <td> <%= org[i].jumlah_terkumpul %> / <%= org[i].target %> </td>
            <td> <%= org[i].kepala_yayasan %> </td>
            <td> 
            <form action="/donatur/donate/<%= donatur.id %>/org/<%= org[i].id %>" method="POST"> 
                <input type="text" name="donate">
                <input type="submit" value="Donate"> 
            </form>
            </td>
        </tr>
        <% } %> 
    </table>
</body>
</html>